@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-light: rgb(85, 85, 85);
        --color-text-main: rgb(34, 34 34);
        --color-text-deep: rgb(0, 0, 0);
        --color-bg-main: rgb(255, 255, 255);
        --color-bg-light: rgb(234, 233, 225);
        --color-border-main: rgb(23, 23, 23);
    }

    html.dark {
        --color-text-light: rgb(187, 187, 187);
        --color-text-main: rgb(221, 221 ,221);
        --color-text-deep: rgb(255, 255, 255);
        --color-bg-main: rgb(18, 18, 18);
        --color-bg-light: rgb(23, 23, 23);
        --color-border-main: rgb(242, 241, 236);
    }

}
