.prose-link i {
  --at-apply: text-sm mr-1;
}

.prose a {
  --at-apply: prose-link;
}

.prose h1 {
  --at-apply: text-9 mb-4;
}

.prose h2 {
  --at-apply: mt-16 mb-4 text-6;
}

.prose h3 {
  --at-apply: mt-10 mb-4 text-5;
}

article {
  --at-apply: min-h-xs;
}
