---
import Layout from '../layouts/Page.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import LatestPosts from '../components/LatestPosts.astro'
import { Image } from 'astro:assets'
import heroImage from '../../public/hero.png'
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Image width={668} height={310} src={heroImage} alt="Banner Picture" />
  <h1>Hi there 👋</h1>
  <p>
    My name is Kaivan Wong. I'm a front-end engineer with perfectionism (it's not always good :p). I'm working on an open source project called <a target="_blank"  href="https://stacknax.com">Stack Nax 💚</a>, and
    often using the JavaScript, TypeScript, Rust to develop software.
  </p>
  <p>
    If you have any questions, please email me at <a href="mailto:kaivanwong@outlook.com">kaivanwong@outlook.com</a>.
  </p>
  <LatestPosts />
</Layout>
