---
import ThemeToggle from "./ThemeToggle.vue";
import siteConfig from "../site-config";

const navLinks = siteConfig.headerNavLinks || [];
---

<header>
  <nav class="h-18 px-6 flex justify-between items-center w-full">
    {
      navLinks.length > 0 && (
        <ul class="flex gap-4 md:gap-6">
          {navLinks.map((link) => (
            <li>
              <a
                class="text-base"
                href={link.href}
              >
                {link.text}
              </a>
            </li>
          ))}
        </ul>
      )
    }
    <ThemeToggle client:load />
  </nav>
</header>
