---
import ThemeToggle from "./ThemeToggle.vue";
import siteConfig from "../site-config";

const navLinks = siteConfig.headerNavLinks || [];
---

<header>
  <nav class=" max-w-3xl mx-auto h-18 px-6 flex justify-between items-center w-full">
    {
      navLinks.length > 0 && (
        <ul class="flex gap-4 sm:gap-6 max-w-3xl">
          {navLinks.map((link) => (
            <li>
              <a nav-link href={link.href}>
                {link.text}
              </a>
            </li>
          ))}
        </ul>
      )
    }
    <div text-lg !flex gap-4 sm:gap-6>
      <a nav-link href="rss.xml" i-ri-rss-line></a>
      <ThemeToggle client:load />
    </div>
  </nav>
</header>
