---
import NavLink from "./NavLink.astro";
import ThemeToggle from "./ThemeToggle.astro";
import siteConfig from "../data/site-config";

const navLinks = siteConfig.headerNavLinks || [];
---

<nav class="h-16 flex justify-between items-center">
  {
    navLinks.length > 0 && (
      <ul class="flex gap-4">
        {navLinks.map((link) => (
          <li>
            <NavLink
              class="text-lg font-sans no-underline text-main"
              href={link.href}
            >
              {link.text}
            </NavLink>
          </li>
        ))}
      </ul>
    )
  }
  <ThemeToggle />
</nav>
