---
const { page, class: className } = Astro.props;
---

<nav
  aria-label="Pagination"
  class:list={["px-12 py-2 relative text-center", className]}
>
  {page.url.prev && <i i-carbon:arrow-left button-icon />}
  <span class="text-sm" aria-current="page">
    Page {page.currentPage} of {page.lastPage}
  </span>
  {page.url.next && <i i-carbon:arrow-right button-icon />}
</nav>
