---
import { getCollection } from 'astro:content'
import ProjectInfo from './ProjectInfo.astro'

export interface Props {
  class?: string
  headingLevel?: 1 | 2 | 3 | 4 | 5 | 6
}

const { class: className = '', headingLevel = 2 } = Astro.props

const projects = await getCollection('projects')
---

<ul class={className}>
  {
    projects
      .filter((project) => !!project?.slug)
      .map((project) => {
        if (!project || !project.slug) return null
        return (
          <li>
            <ProjectInfo projectId={project.slug} headingLevel={headingLevel} />
          </li>
        )
      })
  }
</ul>
