---
import Layout from '../../layouts/Page.astro'
import ProjectList from '../../components/ProjectList.astro'
import { SITE_TITLE } from '../../consts'
---

<Layout title={'Projects - ' + SITE_TITLE} description="All the people who contributed to our blog">
  <h1>Projects</h1>
  <ProjectList class="project-list grid list-none grid-cols-1 gap-4 pl-0 md:grid-cols-2" headingLevel={2} />
</Layout>

<style is:global>
  .project-list > li {
    @apply rounded-3xl border-2 border-gray-600;
  }
</style>
