---
import Layout from '../../layouts/Page.astro'
import ProjectList from '../../components/ProjectList.astro'
import { SITE_TITLE } from '../../consts'

const title = 'Projects'
const description = 'Here is a presentation of the projects I developed, including participation.'
---

<Layout title={title + ' - ' + SITE_TITLE} description={description}>
  <h1>{title}</h1>
  <p>{description}</p> 
  <ProjectList class="project-list grid list-none grid-cols-1 gap-4 pl-0 md:grid-cols-2" headingLevel={2} />
</Layout>

<style is:global>
  .project-list > li {
    @apply rounded-3xl border-2 border-gray-600;
  }
</style>
