---
import { ViewTransitions } from "astro:transitions";
import BaseHead, {
  type Props as HeadProps,
} from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export type Props = HeadProps & { showHeader?: boolean };

const { showHeader = true, ...head } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {...head} />
    <ViewTransitions />
  </head>
  <body class="bg-main text-main min-h-screen font-sans w-full">
    <Header />
    <main
      class="prose grow max-w-3xl mx-auto py-4 sm:py-8 px-6"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
