---
import { ViewTransitions } from 'astro:transitions'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'
import PageNav from '../components/PageNav.vue'
import PageOperate from '../components/PageOperate.vue'

const { pageNav = false, pageOperate = false, ...head } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {...head} />
    <ViewTransitions />
  </head>
  <body class="bg-main text-main min-h-screen font-sans w-full">
    <Header client:load />
    <main class="grow max-w-3xl mx-auto py-8 px-6">
      {pageNav && <PageNav pathname={Astro.url.pathname} />}
      <slot />
      {
        pageOperate && (
          <PageOperate showSourceLink={Astro.url.pathname.includes('posts/')} />
        )
      }
    </main>
    <Footer />
  </body>
</html>
