---
import { fade } from 'astro:transitions'
import { ViewTransitions } from 'astro:transitions'
import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import ScrollToTop from '@/components/ScrollToTop.vue'

const { pageOperate = false, ...head } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {...head} />
    <ViewTransitions />
    <style>
      .bg-dot::before {
        content: '';
        position: absolute;
        inset: 0;
        background:
          linear-gradient(90deg, var(--dot-bg-color) 22px, transparent 1%) 50%,
          linear-gradient(var(--dot-bg-color) 22px, transparent 1%) 50%,
          var(--dot-color);
        background-position: center center;
        background-size: 24px 24px;
        mask-image: linear-gradient(
          0deg,
          transparent 5%,
          var(--dot-mask-color)
        );
      }
    </style>
  </head>
  <body class="bg-main text-main min-h-screen font-sans w-full bg-dot">
    <Header client:load />
    <main
      class="grow max-w-3xl mx-auto sm:pt-36 pt-26 pb-16 px-6 relative"
      transition:animate={fade({ duration: '0.4s' })}
    >
      <slot />
      <ScrollToTop client:load />
      <Footer />
    </main>
  </body>
</html>
