:root {
  --text-color: #6f6f6f;
  --bg-color: #fefefe;
  --scrollbar-color: #eee;
  --scrollbar-hover-color: #bbb;
}

html.dark {
  --text-color: #C8CCD0;
  --bg-color: #050505;
  --scrollbar: #111;
  --scrollbar-hover: #222;
}

html,
body {
  color: var(--text-color);
  background-color: var(--bg-color);
  --at-apply: h-full base;
  --at-apply: font-sans;
}

body::-webkit-scrollbar {
  --at-apply: w0;
}

* {
  scrollbar-color: var(--scrollbar-color) var(--bg-color);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--bg-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover-color);
}

h2+p>em:first-child {
  opacity: 0.5;
  display: block;
  margin-top: -20px;
  font-size: 0.9em;
}

.dark [img-light] {
  display: none;
}

html:not(.dark) [img-dark] {
  display: none;
}
